<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>doc</string>
	<key>CFBundleHelpBookName</key>
	<string>Color Machine Help</string>
	<key>CFBundleIconFile</key>
	<string>ColorMachine.icns</string>
	<key>CFBundleIdentifier</key>
	<string>ch.manderim.Color-Machine</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.3.8</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>CFBundleSupportedPlatforms</key>
	<string>MacOSX</string>
	<key>NSMainNibFile</key>
	<string>ColorMachine</string>
	<key>NSPrincipalClass</key>
	<string>ColorMachineApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
